<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div id="username-page">
		<div class="username-page-container">
			<h1 class="title">Fill your form</h1>
			<form name="usernameForm">
        Name:          <br><input id="name"    [(ngModel)]="name" [ngModelOptions]="{standalone: true}" type="text"  placeholder="Username"   autocomplete="off"  ><br>
        Date of Birth: <br><input id="dob"     [(ngModel)]="dob" [ngModelOptions]="{standalone: true}" type="date"  autocomplete="off"  ><br>
        Address:       <br><input id="address" [(ngModel)]="address" [ngModelOptions]="{standalone: true}" type="text"  placeholder="Address"    autocomplete="off"  >
				<div>
					<br><button (click)="downloadPDF()" type="submit" class="accent username-submit">Submit</button>
				</div>
			</form>
		</div>
	</div>

</body>
</html>
